body{
font-family:Arial;
padding:30px;
}

.login-form{
width:400px;
}

.dong{
margin-bottom:15px;
}

label{
display:inline-block;
width:120px;
font-size:20px;
}

input{
width:230px;
height:30px;
}

button{
margin-left:120px;
padding:6px 15px;
font-size:16px;
}